{% extends 'layout.html' %}

{% block content %}
    <h1>Quotes</h1>
    {% for quote in quotes %}
        <figure>
            <blockquote class="blockquote">
            {{ quote.quote }}
            </blockquote>
            <figcaption class="blockquote-footer">
                {{ quote.author.name }}
            </figcaption>
        </figure>
    {% else %}
        <p>No quotes yet!</p>
    {% endfor %}
{% endblock %}
